<div class="app-c-hide-this-page">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Hide this page
        </button>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Information about “Hide this page” button
            </span>
          </summary>
          <div class="govuk-details__text">
            We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
          </div>
        </details>
      </div>
    </div>
  </div>
</div>

<style>
.app-c-hide-this-page {
  padding: 10px 0 0;
  border-bottom: 1px solid #b1b4b6;
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.govuk-button {
  font-weight: bold;
  margin-bottom: 15px;
}

.govuk-details {
  display: inline-block;
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 15px;
}
</style>
